{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="q" placeholder="Title, author or ISBN" type="text"/>
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </form>
    {% if q %}
        <h3>Search results for <b>{{ q }}</b>:</h3>
        {% if not books %}
            <h3>Sorry, we didn't find anything :( </h3>
        {% else %}
                {% for book in books %}
                    <p>{{book.title}} by {{book.author}}, {{book.year}}</p>
                {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}